body {
  margin: 0;
  padding: 0;
  font-family: Roboto, sans-serif;
}
h3 {
    margin: 1em 0;
}
input[type="radio"] {
    margin-right: 1em;
}
.card-text .badge {
    margin-left: 0.5em;
}
.nav-tabs {
    font-size: 0.7em;
}
.nav img {
    height: 30px;
}

.navbar-brand img {
    margin-left: 1em;
}

.card {
    margin-top: 2em;
}
.card-header {
    padding: 0;
}
.card-header-avatar {
    height: 35px;
    margin: 5px;
    border: solid 1px #555;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.user-stats span {
    float: right;
    font-weight: bold;
}
.user-score {
    text-align: center;
}
.user-score div {
    font-size: 1.5em;
}